<%= simple_form_for [@project, @task] do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </fieldset>
  
  <hr>

  <fieldset class="form-group">
    <%= f.simple_fields_for :assignments do |assignment| %>
      <%= render 'assignment_fields', f: assignment %>
    <% end %>

    <%= link_to_add_association 'New user', f, :assignments, class: "btn btn-info btn-block" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
  </fieldset>
<% end %>
