<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-danger">
      <b><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</b>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Add project", class: "btn btn-primary btn-block" %>
    <%= link_to "Back", :back, class: "btn btn-danger btn-block" %>
  </div>
<% end %>
