<h1>
  <%= @project.name %>
  <span class="pull-right">
    <%= link_to new_project_task_path(@project), class: "btn btn-success btn-sm" do %>
      <span class="fa fa-plus"></span> New task
    <% end %>
    <%= link_to edit_project_path(@project), class: "btn btn-info btn-sm" do %>
      <span class="fa fa-edit"></span> Edit project
    <% end %>
    <%= link_to project_path, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?"} do %>
      <span class="fa fa-trash-o"></span> Delete project
    <% end %>
  </span>
</h1>

<hr>

<div class="card-columns clearfix">
  <% @project.tasks.each do |task| %>
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <%= link_to task.name, project_task_path(@project, task) %>
        <span class="text-muted pull-right">
          <span class="fa fa-user"></span> <%= task.users.count %>
        </span>
      </p>
    </div>
  </div>
  <% end %>
</div>
